.card-container {
	position: relative;
	height: 100%;
}
.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}
.card-header {
	text-align: center;
	align-items: center;
}
.card-logo {
	height: 200px;
	width: 200px;
	padding: 20px;
	filter: invert(39%) sepia(82%) saturate(2286%) hue-rotate(206deg) brightness(101%) contrast(102%);
}
